body{
    background-color: burlywood;
}

#container {
    align-items: centesr;
    align-items: center;
    background-color: #5F7464;
    border: solid black 2px;
    border-style: hidden;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
    margin-right: 35%;
    margin-top: 8%;
    margin-left: 35%;
}

 #titPrincipal{
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: x-large;
    letter-spacing: 2px;
    padding: 20px;

}

.input{
    text-align: left;
    margin-bottom: 20px;
    border-radius: 1%;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
    color: white;
} 

#entrar {
    

        background: transparent;
        height: 50%;
        border: 2px solid black;
        border-radius: 6px;
      
      
        
      
}

#entrar:hover {
    background-color: black;
        color: white;
}

a{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

a:hover {
    color: cornsilk;
}