#clima{
    margin-top: 1%;
    margin-bottom: 5%;

}

#containerClima {
    background-color: antiquewhite;
    border-radius: 10%;
    width: 30%;
    padding-top: 10px;
    text-align: center;
    font-family: fantasy;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}

#tituloPrincipal h1{
    margin: 1%;
}

#titulo{
color: black;
text-decoration: underline;
}

#containersubtitulo{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#city{
    text-align: center;
    font-weight: 100px;
    color: cadetblue;
    font-weight: 100;
    font-family:monospace ;
    font-size: 25px;
}

#country{
    font-family:'Courier New', Courier, monospace ;
    padding: 0.2em 0.6em;
    border-radius: 30px;
    background-color: orange;
    color: #fff;   
}

#temp{
    font-size: 30px;
    margin: 1%;
}

#icon{
    width: 40%;
    height: 40%;
}

#description{
    color: cadetblue;
    padding-bottom: 5%;
}





